*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.g-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.g-search {
  position: relative;
  width: 61.8%;
  height: 3.733333vw;
  margin-top: 1.066667vw;
}

.g-input__search {
  border-radius: 12px;
  padding: 0 1.066667vw;
  font-size: 1.6vw;
  transition: all .3s;
  width: 100%;
  height: 100%;
  /* border: 1 px solid rgb(226, 232, 240); */
  border: 1px solid rgb(226, 232, 240);
  outline: 0;
  background: #fff;
  position: relative;
  appearance: none;
}

.g-input__search:focus,
.g-input__search[data-focus] {
  border-color: rgba(0, 0, 0, .24);
  box-shadow: rgba(0, 0, 0, .44);
}

.g-clear {
  margin-right: 30px;
  width: 25px;
  margin-left: 0.8vw;
  transition: color .4s;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .24);
}

.g-clear img {
  width: 100%;
}

.g-btn {
  margin-right: 4px;
  transition: color .4s;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #0f60ab;
}

.g-btn img {
  width: 100%;
}

/* .g-btn {
  transition: color .4s;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 900;
  padding: 5px 20px 5px 20px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: none;
  border-radius: 0 15px 15px 0;
  background: #000;
  color: #fff;
  box-sizing: border-box;
 
} */

.g-engines {
  width: 61.8%;
  padding: 0.8vw 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.g-engine {
  width: 10.666667vw;
  padding: 0.8vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-engines .g-engine:hover {
  background: #e8e8e9;
  color: blue;
}

img {
  width: 80%;
}

.g-engine span {
  display: block;
  font-size: 1.2vw;
  margin-top: 0.533333vw;
}

.g-logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1.066667vw 2.133333vw;
  color: #eee;
  margin-top: 0.533333vw;
}

.btn .g-engine img {
  width: 20%;
}

.g-hide {
  display: none;
}