.g-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50px);
    /* width: 200px;
    height: 350px; */
    width: 600px;
    height: 1000px;
    border: 3px solid #787A79;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
  }
  .top {
    width: 100%;
    height: 25px;
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid #787A79;
  }
  .top:after {
    content: ' ';
    display: block;
    position: relative;
    top: 7px;
    left: 20px;
    width: 30px;
    border: 5px solid #787A79;
    border-radius: 5px;
  }
  .screen {
    /* width: 170px;
    height: 140px; */
    width: 570px;
    height: 780px;
    position: relative;
    top: 12px;
    left: 12px;
    background: #BDBDBD;
    border: 3px solid #787A79;
    border-radius: 5px;
  }
  .screen .inner {
    /* width: 100px;
    height: 100px; */
    width: 512px;
    height: 768px;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: #AED483;
    border: 3px solid #787A79;
    border-radius: 5px;
  }
  .screen .power {
    width: 8px;
    height: 8px;
    position: absolute;
    top: calc(50% - 10px);
    left: 8px;
    background: #F3886B;
    border: 3px solid #787A79;
    border-radius: 100%;
  }
  .screen .power:after {
    content: ' ';
    display: block;
    width: 20px;
    border-bottom: 2px solid #787A79;
    position: relative;
    top: 13px;
    left: -6px;
  }
  .controls {
    position: relative;
  }
  .controls .dpad {
      width: 100px;
      height: 100px;
      background: #E0E2E1;
      border: 2px solid #787A79;
      border-radius: 100%;
      position: relative;
      left: 100px;
      top: 30px;
  }
  .controls .dpad,
  .controls .dpad *,
  .controls .dpad *:before,
  .controls .dpad *:after {
    box-sizing: border-box;
  }
  .controls .dpad .plus:before,
  .controls .dpad .plus:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BDBDBD;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #787A79;
    content: '';
    display: block;
    height: 15px;
    width: 50px;
  }
  .controls .dpad .plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .controls .dpad .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BDBDBD;
    width: 30px;
    height: 15px;
  }
  .controls .dpad .middle:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    border-radius: 50%;
    border: 2px solid #787A79;
    content: '';
    height: 12px;
    width: 12px;
  }
  .controls .buttons {
      position: absolute;
      right: 120px;
      top: 60px;
      width: 90px;
      height: 34px;
      background-color: #E0E2E1;
      border: 2px solid #787A79;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      transform: rotate(-35deg);
  }
  .controls .buttons:before,
  .controls .buttons:after {
    content: '';
    display: block;
    background-color: #F3886B;
    width: 24px;
    height: 24px;
    border: 2px solid #787A79;
    border-radius: 100%;
    margin: 3px;
  }
  .controls .startselect {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40px);
    display: flex;
  }
  .controls .startselect:before,
  .controls .startselect:after {
    content: '';
    display: block;
    background-color: #E0E2E1;
    border: 2px solid #787A79;
    border-radius: 8px;
    margin: 0 4px;
    width: 25px;
    height: 8px;
    transform: rotate(-35deg);
  }
  .corner {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 48px;
    width: 80px;
    height: 50px;
  }
  .speaker {
    position: absolute;
    bottom: 15px;
    right: 20px;
    transform: rotate(-35deg);
    display: flex;
  }
  .speaker .set {
    display: flex;
  }
  .speaker .set:before,
  .speaker .set:after {
    content: '';
    display: block;
    background-color: #f5f5f5;
    border: 2px solid #BDBDBD;
    margin: 3px;
    width: 1px;
    height: 35px;
  }
  .mic {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20px;
    border: 3px solid #787A79;
    border-radius: 3px;
  }
  .mic:before,
  .mic:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #787A79;
    width: 2px;
    height: 11px;
  }
  .mic:before {
    right: 2px;
  }
  .mic:after {
    left: 2px;
  }
  