.g-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: .6s;
}

.g-modal-content {
  width: 90%;
  max-width: 600px;
  height: 350px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}

.g-modal-content .g-title {
  font-weight: bold;
}

.g-input-item {
  margin-top: 16px;
  width: 100%;
}

.g-modal-content .g-input-item .g-input-value {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  border: 2px solid;
  border-radius: 5px;
}

.g-modal-btns {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.g-modal-btns .g-modal-btn {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
}

.g-modal-btn-black {
  background-color: rgb(226, 232, 240);
  color: black;
}

.g-modal-btn-blue {
  background-color: rgb(98, 154, 231);
  color: #fff;
}